body { font-family: 'Microsoft YaHei',"Open Sans", sans-serif;font-size:16px; color:#333; line-height: 1;}
input,
select,
textarea { font-family: 微软雅黑,"Open Sans", sans-serif;font-size:1em; outline:none; }
input[type="button"], input[type="submit"], input[type="reset"] { -webkit-appearance: none; }
textarea { -webkit-appearance: none; }  
.wrap { margin: 0 auto; width:1200px; position: relative; }
p{text-align: justify;}
img,a{ border:0; text-decoration:none;}
.img img{display:block;margin:0 auto;}
a:hover{color:#3db45e}
ul,li{ list-style:none;}
*{ margin:0; padding:0; }
.flt{ float:left;}
.frt{ float:right;}
.clear{ clear:both;}
ul:after,.clear:after,.clear:before{content:'';clear:both; display:table;}
img{max-width:100%;}
.img{overflow:hidden;position:relative;}
h3{white-space:nowrap;overflow:hidden; text-overflow:ellipsis;font-weight:bold;}

.none { display: none; }
 
.owl_num .owl-dots {counter-reset: nav;}
.owl_num .owl-dots .owl-dot span:before {text-align: center;display: block;counter-increment: nav;content: "0" counter(nav);}

/*----------header----------*/
.header { background: #2c3e50; line-height: 80px; }
.header .logo { float:left; margin-left:108px; height: 80px; }
.header .logo img { vertical-align:middle; width:34px; height:34px; border-radius:34px; margin-right:8px; }
.header .logo a { font-size: 34px; font-weight: bold; color: #fafcff; text-shadow: 5px 2px 6px #000; vertical-align: middle }
.header .logo span { display: inline-block; width: 126px; height: 30px; line-height: 30px; border: 1px solid #b5c8db; border-radius: 3px; font-size: 18px; font-weight: normal; color: #b5c8db; text-align: center; vertical-align: middle; margin-left: 15px; text-shadow:none; }
.h_user { float:left; }
.h_user .img { float:left; border:1px solid #fff; box-shadow:0 0 5px rgba(255,255,255,0.2); width:54px; height:54px; border-radius:54px; overflow:hidden; margin-top:12px; }
.h_user .img img { display:block; width:54px; height: 54px; }
.h_user .web { float:left; margin-left:17px; }
.h_user .web p { font-size: 16px; color: #e5c597; }
.h_btn { float:left; margin-left:25px; }
.h_btn ul li { float:left; width:80px; }
.h_btn ul li span { display:block; height:80px; cursor:pointer; text-align: center; color: #fff; }
.h_btn ul li:hover span{ background: #566573; }
.h_btn ul li span.span1 { background:url('../img/icon4.png') no-repeat center center; }
.h_btn ul li span.span2 { background: url('../img/icon5.png') no-repeat center center; }
.h_btn ul li:hover span.span1 { background: #566573 url('../img/icon4-1.png') no-repeat center center; }
.h_btn ul li:hover span.span2 { background: #566573 url('../img/icon5-1.png') no-repeat center center; }

/*----------mainer----------*/
.mainer { }
.page_tit { border-bottom: 1px solid #d57a21; padding-bottom:11px; }
.page_tit h3 { font-size: 18px; font-weight: normal; color: #d57a21; }

.page_login { display:table; position:fixed; height:100%; width:100%; }
.log_box { width:406px; margin:0 auto; }
.log_box .logo { float:left; }
.log_box .logo img { display:block; }
.log_chg { float:right; margin-top:27px; }
.log_chg a { color:#fff; }
.log_box .tab { margin-top: 65px; position: relative; }
.log_box .tab .item { border: 1px solid #fff; background: #e7f0f7; line-height:62px; border-radius:8px; margin-top:22px; position:relative; }
.log_box .tab .item span { display:block; float:left; height:62px; width:69px; }
.log_box .tab .item span.span1 { background:url('../img/icon1.png') no-repeat center center; }
.log_box .tab .item span.span2 { background: url('../img/icon2.png') no-repeat center center; }
.log_box .tab .item .div_inp { overflow:hidden; padding-left:14px; background:url('../img/icon3.png') no-repeat left center; font-size:18px; }
.log_box .tab .item .div_inp input { height:62px; line-height:62px; width:100%; border:none; background:none; }
.log_tips { position:absolute; bottom:-36px; left:0; width:100%; }
.log_tips p { font-size: 18px; color: #ea2e49; }
.mob_yzm { position:absolute; top:0; right:0; }
.mob_yzm a { display: inline-block; height: 21px; line-height: 21px; width: 108px; border-left: 1px solid #d3d6dc; font-size: 16px; color: #307fe8; text-align:center; }

.btn { margin-top: 62px; }
.btn a { display: block; height: 54px; line-height: 54px; background: #307fe8; border-radius:54px; text-align:center; color:#fff; font-size:22px; box-shadow:0 6px 20px rgba(48,127,232,0.5); }
.rem_pwd { margin-top:30px; font-size:16px; color:#666; }
.rem_pwd label { }
.rem_pwd label input { width:18px; height:18px; border:1px solid #aaa; vertical-align:middle; margin-bottom:2px; margin-right:8px; }
.rem_pwd a { float:right; color:#666; }

.page_left { float:left; width:184px; margin-top:26px; }
.page_left ul li { height: 74px; line-height: 74px; border-bottom: 1px solid #edeff2; }
.page_left ul li a { display: block; padding-left: 34px; }
.page_left ul li a span { display: inline-block; padding-left: 33px; background: url('../img/icon6.png') no-repeat left center; font-size: 20px; color: #B28850; vertical-align:top; }
.page_left ul li.on a, .page_left ul li a:hover { padding-left:25px; background:url('../img/bg1.png') no-repeat center center; }
.page_left ul li.on a span, .page_left ul li a:hover span { padding-left: 0; background: none; background-position:left center; font-size: 24px; color: #fff; }
.page_right { overflow: hidden; background: #f4f7fa;  padding:30px 33px; position:relative; min-height:750px; }
.kc_list { margin:0 -33px;  overflow:hidden; }/**height:604px;**/
.kc_list ul li { padding: 0 33px; }
.kc_list ul li .box { border-bottom: 1px solid #e3eaf0; padding: 25px 0; position: relative; }
.kc_list ul li .img { float: left; width: 178px; height: 100px; overflow: hidden; margin-right: 20px; box-shadow: 0 4px 5px rgba(108,147,185,0.5); border-radius:3px; overflow:hidden; }
.kc_list ul li .img img { display:block; width:100%; height:100px;}
.kc_list ul li .web { overflow:hidden; padding-top:4px; }
.kc_list ul li .web h3 { font-size:18px; font-weight:normal; }
.kc_list ul li .web h3 a { color:#333; }
.kc_list ul li .web h3 a:hover{color:#d57a21}
.kc_list ul li .web h4 { font-size: 12px; color: #bcbfcf; font-weight: normal; margin-top: 5px; }
.kc_list ul li .web .kc_jxjd { margin-top:30px; }
.kc_list ul li .web .kc_jxjd p { font-size:14px; color:#999; }
.kc_list ul li .web .kc_jxjd p font { font-size: 16px; color: #8dcfcb; }
.kc_list ul li .web .kc_jxjd .progress_bar { height: 5px; width: 134px; border-radius: 5px; background: #dde5ed; overflow:hidden; margin-top:7px; }
.kc_list ul li .web .kc_jxjd .progress_bar span { display: block; height: 5px; width: 50%; border-radius: 5px; background: #8dcfcb; }

.kc_list ul li:hover { background: #fff; }
.kc_list_chg { text-align:center; margin-top:-1px; position:relative; }
.kc_list_chg label { display: block; width: 90px; height: 24px; margin: 0 auto; border: 1px solid #e3eaf0; border-top: 1px solid #f4f7fa; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; background: #f4f7fa; }
.kc_list_chg label span { font-size:14px; color:#666; display:inline-block; padding-right:14px; background:url('../img/icon7.png') no-repeat right center; }
.kc_list_chg label.on span { background: url('../img/icon7-1.png') no-repeat right center; }
.notice { margin-top: 40px; }
.notice_change_list { border-bottom: 1px solid #d57a21; padding-bottom:12px; position:relative; margin-right:122px; }
.notice_change_list ul li { float: left; margin-left: 42px; font-size: 18px; color: #2c3e50; cursor:pointer; }
.notice_change_list ul li:first-child { margin-left:0; }
.notice_change_list ul li.on, .notice_change_list ul li:hover { color: #d57a21; }
.send_out { height: 29px; line-height: 29px; border: 1px solid #d57a21; border-radius: 3px; overflow: hidden; position: absolute; top: 0; right: -122px; cursor: pointer; }
.send_out label { display: block; height: 29px; width: 29px; border-radius: 3px; background: #d57a21 url('../img/icon8.png') no-repeat center center; float:left; }
.send_out span { display:block; float:left; width:85px; text-align:center; color:#999; font-size:16px; }
.course_notice { }
.course_notice ul li { padding: 30px 0; border-bottom: 1px solid #e3eaf0; }
.course_notice ul li h3 { font-size:20px; font-weight:normal; color:#333; margin-bottom:20px;line-height:30px; }
.course_notice ul li p { line-height:30px; color:#666; margin-top:15px; }
.course_notice ul li h4 { font-weight: normal; font-size: 14px; color: #6a7e93; margin-top:20px; }
.course_notice ul li h4 span { margin-left:20px; }
.course_notice ul li .img_box { }
.course_notice ul li .img_box ul li { padding: 0; border-bottom: none; float: left; width: 221px; height: 124px; border-radius: 3px; overflow: hidden; margin-right: 20px; box-shadow: 0 4px 5px rgba(108,147,185,0.5); }
.course_notice ul li .img_box ul li img { display:block; width:100%; }

body.bg_f4f7fa { background: #f4f7fa; }
body.bg_f3f3f3 { background:#f3f3f3; }
.course_det { padding: 40px; }
.course_det .box { background:#fff; position:relative; }
.course_det .l_nav { float: left; width: 495px; padding-top: 35px; margin-right:28px; }
.course_det .l_nav h3 { font-size:24px; color:#333; padding-left:33px; }
.course_det .l_nav .list { margin-top: 34px; }
.course_det .l_nav .list ul li { font-size: 20px; border-bottom: 1px solid #e3eaf0; }
.course_det .l_nav .list ul li a { display: table; height: 84px; width: 100%; }
.course_det .l_nav .list ul li a p { display: table-cell; vertical-align: middle; padding: 0 33px; line-height: 26px; color: #999; }
.course_det .l_nav .list ul li.on a,.course_det .l_nav .list ul li a:hover { background: #eaf2fd; }
.course_det .l_nav .list ul li.on a p,.course_det .l_nav .list ul li a:hover p { color: #2c3e50; }
.course_det .line { position: absolute; top:0; left: 495px; width: 28px; bottom: 0; background: #f4f7fa; }
.r_main { overflow: hidden; padding: 40px 110px; }
.r_main h3 { font-weight: normal; font-size: 30px; color: #2c3e50; }
.r_main h3 a { display: inline-block; float: right; height: 36px; line-height: 36px; width: 87px; text-align: center; border: 1px solid #3699ff; font-size: 20px; color: #3699ff; border-radius:36px; }
.r_main .vedio { position:relative; margin-top:34px; }
.r_main .vedio img { display:block; width:100%; }
.r_main .vedio .play { width:102px; height:102px; border-radius:102px; background:url('../img/play.png') no-repeat center center; position:absolute; top:50%; left:50%; margin-top:-51px; margin-left:-51px; cursor:pointer; }
.r_main .web { }
.r_main .web .text { border-top: 1px solid #e3eaf0; padding:36px 28px 23px; }
.r_main .web .text:first-child { border-top:none; }
.r_main .web .text h4 { font-size: 18px; font-weight: normal; line-height:28px; margin-bottom:7px; }
.r_main .web .text h4 span { display:inline-block; padding-left:32px; }
.r_main .web .text h4 span.span1 { background:url('../img/icon11.png') no-repeat left center; }
.r_main .web .text h4 span.span2 { background: url('../img/icon12.png') no-repeat left center; }
.r_main .web .text p { font-size: 16px; line-height: 28px; text-align: justify; }
.r_main .web .text.on p{ max-height:initial;}
.r_main .web .text label { color: #307fe8; display: inline-block; margin-top: 5px; }


.det_r_main h3{ padding-right: 100px; position: relative; white-space: initial; overflow: initial; text-overflow: initial; line-height: 35px; }
.det_r_main h3 a{ position: absolute; top: 0; right: 0; }

.sourse_form .list .list_web{ line-height: 46px; font-size: 18px; color: #c2b6a6; display: inline-block; }
.sourse_form .list .list_web em{ font-style: normal; margin: 0 9px; color: #becedf; }

.pageSize{ text-align: center; margin-top: 20px; }

.course_sel { line-height:44px; position:relative; width: 413px;}
.course_sel>span { font-size: 20px; color: #7398be; display:block; padding-left: 10px; border: 1px solid #b5c8db; border-radius:3px; cursor:pointer; background:#fff url('../img/icon13.png') no-repeat 97% center; padding-right: 30px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; height: 44px; }
.course_sel .drop { position: absolute; top: 100%; left: 0; right: 0;z-index:100;padding-top:3px;}
.course_sel .drop ul { padding: 5px 0; background: #f4fafc; box-shadow:0 2px 5px rgba(0,0,0,0.15)}
.course_sel .drop ul li{padding:0 20px;line-height:33px;color:#666;font-size:16px;}
.course_sel .drop ul li:hover { background: #fff; color: #7398be }

.course_sel .cdrop { position: absolute; top: 100%; left: 48px; right: 0;z-index:100;padding-top:3px;}
.course_sel .cdrop ul { padding: 5px 0; background: #f4fafc; box-shadow:0 2px 5px rgba(0,0,0,0.15)}
.course_sel .cdrop ul li{padding:0 20px;line-height:33px;color:#666;font-size:16px;}
.course_sel .cdrop ul li:hover { background: #fff; color: #7398be }

.chart { background: #fff; border: 1px solid #e2e6e8; padding: 28px 20px; margin-top: 40px; }
.chart .tit { }
.chart .tit h3 { font-size: 18px; color: #cc6600; font-weight:normal; float:left; }
.chart .tit span { float:right; font-size:14px; color:#999; margin-top:2px; }
.chart .tit span em { font-style: normal; display: inline-block; padding: 0 8px; border-left: 1px solid #ccd9e6; }
.chart .tit span em:first-child { border-left:none; }
.chart .tit span em a { color: #999; }
.chart .left { float: left; width: 303px; padding-right: 20px; }
.chart_pie { margin-top:40px; height: 289px; width: 303px; }
.chart_pie img { display:block; }
.chart .right { overflow: hidden; padding-left: 20px; border-left: 1px solid #ebedee; }
.chart_line { margin-top:35px; width: 564px; height: 291px;}
.chart_line img { display:block; }
.page_tab { margin-top: 28px; background: #fff; border: 1px solid #e2e6e8; padding:20px 0; }
.title { padding:0 20px; }
.title h3 { font-size: 18px; font-weight: normal; color: #cc6600; padding-left: 6px; border-left: 2px solid #d6ae7b; float:left; margin-top:5px; margin-right:22px; }
.title .title_search { float: left; border: 1px solid #dcdcdc; border-radius:8px; width:253px; height:26px; line-height:26px; padding-left:13px; padding-right:34px; position:relative; }
.title .title_search input { height:26px; line-height:26px; border:none; background:none; width:100%; font-size:16px; }
.title .title_search a { display:block; width:34px; height:26px; position:absolute; top:0; right:0; background:url('../img/icon15.png') no-repeat center center; }
.title .title_btn { float:right; line-height:18px; margin-top:5px; }
.title .title_btn span { font-size: 16px; display: inline-block; padding: 0 12px; border-left: 1px solid #e5e5e5; }
.title .title_btn span:first-child { border-left:none; }
.title .title_btn span label { display: inline-block; padding-left: 20px; background: url('../img/icon19.png') no-repeat left center; color: #cc6600; }
.title .title_btn span label.on { background: url('../img/icon19-1.png') no-repeat left center; }
.title .title_btn a { color: #999; display: inline-block; padding-left: 18px; position: relative; cursor: pointer; }
.title .title_btn a:hover{color:#000}
.title .title_btn a.a1 { background: url('../img/icon16.png') no-repeat left center; }
.title .title_btn a.a2 { background: url('../img/icon17.png') no-repeat left center; }
.title .title_btn a.a3 { background: url('../img/icon31.png') no-repeat left center; }
.title .title_btn a.a4 { background: url('../img/icon32.png') no-repeat left center; }
.tab_box { margin-top:40px; }
.tab_box table { width:100%; }
.tab_box table th { font-size: 16px; color: #7eb9b5; line-height:19px; font-weight:normal; text-align:center; height:45px; }
.tab_box table th:first-child { padding-left:20px; text-align: left; }
.tab_box table td { height: 62px; border-bottom: 1px solid #e3eaf0; vertical-align: middle; font-size: 16px; color: #666; text-align: center; }
.tab_box table td:first-child { padding-left:20px; text-align: left; }
.tab_box table td a { color: #4e72a4; }
.tab_box table td a:hover { text-decoration: underline; color: #cf7011; }
.tab_box table tr:nth-child(2n+1) td { background: #f9fafb; }
.tab_box table tr:hover td {color:#000; background: #e9eff6; }
.tab_box_cha { }
.tab_box_cha ul li { color: #999; float: left; width: 25%; background: #f7f9fb; line-height:57px; text-align:center; }
.tab_box_cha ul li label { display:block; border-left:3px solid #fff; }
.tab_box_cha ul li:first-child label { border-left: none; }
.tab_box_cha ul li label span { display: inline-block; padding-left: 20px; background: url('../img/icon18.png') no-repeat left center; }
.tab_box_cha ul li.on label span { background: url('../img/icon18-1.png') no-repeat left center; }
.tab_box_cha ul li label span font input{ width: 30px; border: none; border-bottom: 1px solid #666699; text-align: center; color: #F09A12; }
.tab_box.tab_box1 th { height: 64px; vertical-align: middle; color: #96b2cd; border-bottom: 1px solid #e3eaf0; }
.tab_box th label { display:inline-block; padding-right:21px; background:url('../img/icon19.png') no-repeat right center; }
.tab_box th label.on { background: url('../img/icon19-1.png') no-repeat right center; }
.tab_box td label { display: inline-block; width: 14px; height: 14px; background: url('../img/icon19.png') no-repeat center center; }
.tab_box td label.on { background: url('../img/icon19-1.png') no-repeat center center; }
.tab_box.tab_box1 th:last-child, .tab_box.tab_box2 th:last-child { padding-right: 20px; }
.tab_box.tab_box1 td:last-child, .tab_box.tab_box2 td:last-child { padding-right: 20px; }
.tab_box.tab_box3 th { height: 64px; vertical-align: middle; color: #96b2cd; border-bottom: 1px solid #e3eaf0; }
.tab_box span.span1 { color: #49ac7e; }
.tab_box span.span2 { color: #e74c3c; }
.tab_box.tp0 { margin-top: 0; }

.task_list { }
.task_list ul li { padding:30px 20px 20px; background:#fff; border-radius:3px; box-shadow:0 2px 4px rgba(120,131,132,0.2); margin-top:28px; position:relative; }
.task_list ul li h3 { font-size:22px; font-weight:normal; margin-bottom:30px; }
.task_list ul li h3 em{ font-style: normal; display:inline-block; max-width: 400px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.task_list ul li h3 span { font-size: 20px; color: #cc6600; margin-left:15px; }
.task_list ul li p { font-size:16px; color:#666; padding-left:21px; background:url('../img/icon20.png') no-repeat left center; line-height:29px; }
.task_list ul li p span { color: #bcbfcf; }
.task_list ul li p em { font-style:normal; color:#999; margin-left:20px; }
.task_list ul li .kc_btn { right:0; top:37px; }
.task_list ul li .kc_btn ul li { box-shadow:none; margin-top:0; }
.task_list ul li .kc_btn ul li p { padding-left:0; background:none; line-height:initial; }
.mod_dcxx .tit p select { font-size:18px; color: #7398BE; width: 210px; border: 1px solid #B5C8DB; margin-left: 10px; height: 36px; line-height: 36px;; }

.crumbs { }
.crumbs p { line-height:32px; font-size:20px; color:#999; }
.crumbs p a { color:#999; } 
.crumbs p a.on { color: #666; }
.crumbs p a:hover{ color:#f16d31}
.crumbs p span { display: inline-block; float: right; }
.crumbs p span a { display: inline-block; border: 1px solid #a0c4ee; border-radius: 1px; text-align: center; color: #59a0e6; width:78px; height:30px; line-height:30px; }
.crumbs p span a:hover{ border-color:#2c3e50;}
.crumbs p span a:hover em { color: #2c3e50 }
.crumbs p span a em { display: inline-block; padding-left: 24px; background: url('../img/icon24.png') no-repeat left center; font-style: normal; }

.achievement_zl { }
.achievement_zl .data { margin-top:21px; }
.achievement_zl .data p { color:#666; line-height:30px; padding-left:26px; background:url('../img/icon20.png') no-repeat left center; }
.achievement_zl .data p span { color: #bcbfcf; }
.achievement_zl .list { }
.achievement_zl .list ul { float:left; width:50%; }
.achievement_zl .list ul li { color: #666; margin-top:22px; }
.achievement_zl .list ul li p { padding-left: 18px; background: url('../img/icon26.png') no-repeat left center; }
.achievement_zl .list ul:first-child li p { padding-left:21px; background:url('../img/icon25.png') no-repeat left center; }
.chart_bar { padding-top:30px; }
.chart_bar img { display:block; }
.title_cj_btn { float:right; }
.title_cj_btn a { text-align: center; display: inline-block; width: 108px; height: 38px; line-height: 38px; border-radius: 38px; border: 1px solid #8dcfcb; color: #8dcfcb; font-size:18px; }
.title_cj_btn a:hover { background: #05bfb4; color: #fff; }

.kcgl_add { position:absolute; top:34px; right:34px; }
.kcgl_add a { display: inline-block; padding:0 14px; margin-left:16px; height: 40px; line-height: 40px; border-radius: 3px; font-size: 18px; color: #fff; background: #8dcfcb; text-align:center; }
.kcgl_add a:hover{ background:#c4d3e2}
.kc_list.kcgl_list { margin-top: 15px; height: auto; }
.kc_list.kcgl_list ul li .kcgl_text { margin-top:30px; }
.kc_list.kcgl_list ul li .kcgl_text p { font-size:12px; line-height:14px; }
.kc_list.kcgl_list ul li .kcgl_text p span { display:inline-block; padding-left:21px; margin-right: 20px; }
.kc_list.kcgl_list ul li .kcgl_text p span.span1 { background:url('../img/icon20.png') no-repeat left center; background-size:14px auto; }
.kc_list.kcgl_list ul li .kcgl_text p span.span2 { background: url('../img/icon29.png') no-repeat left center; }
.kc_list.kcgl_list ul li .kcgl_text p span em { font-style: normal; color: #999; }
.kc_list.kcgl_list ul li .kcgl_text h4 { font-size: 12px; color: #afb2c1; margin-top:15px; }

.course_design { background: #fff; border: 1px solid #e2e6e8; margin-top:40px; padding:13px 20px 60px; }
.course_design .item { border-top: 1px dashed #e7edf2; padding:28px 0 60px 20px; position:relative; }
.course_design .item:first-child { border-top:none; }
.course_design .item h3 { font-weight:normal; font-size:20px; }
.sourse_form_btn { position:absolute; top:0; right:0; }
.sourse_form_btn a { display: inline-block; text-align: center; width: 134px; height: 40px; line-height: 40px; border: 1px solid #f16d31; background: #f16d31; border-radius:3px; font-size: 18px; color: #fff; margin-left: 15px; }
.sourse_form_btn a:hover{background:#cc6600}
.sourse_form_btn a.a1 { background: #fff; border: 1px solid #dcdcdc; color: #666; }
.sourse_form_btn a.a1:hover{background:#efefef}
.sourse_form { }
.sourse_form .list { margin-top: 33px; }
.sourse_form .list p {display:inline-block; line-height: 46px; font-size: 18px; color: #c2b6a6; }
.sourse_form .list p span { display: inline-block; height: 44px; line-height: 44px; border: 1px solid #c4d3e2; border-radius: 3px; padding-left: 16px; width: 358px; background: #f9f9f9; color:#333; }
.sourse_form .list p input { height: 44px; line-height: 44px; border: 1px solid #c4d3e2; border-radius:3px; padding-left:16px; width:225px; }
.sourse_form .list p em { font-style: normal; color: #becedf; margin:0 9px; }
.sourse_form .list label { display: inline-block; padding-left: 22px; background: url('../img/icon19.png') no-repeat left center; margin-left: 16px; color: #dab584; font-size:16px; }
.sourse_form .list.on p{pointer-events:none;opacity:0.5}
.sourse_form .list label.on { background: url('../img/icon19-1.png') no-repeat left center; }
.sourse_form.sourse_form1 .list p input { width: 106px; margin: 0 8px; }
.sourse_form.sourse_form1 .list p span { border:none; width:auto; padding:0 13px; font-size:14px; color:#666; margin-left:22px; position:relative; }
.sourse_form.sourse_form1 .list p span:before { content:''; display:block; width:8px; height:18px; background:url('../img/icon33.png') no-repeat right center; position:absolute; top:50%; margin-top:-9px; left:-8px; }
.sourse_form.sourse_form1 .list .line { height: 1px; background: #f2f2f2; margin-left:64px; margin-top:39px; }
.title_edit { float:left; }
.title_edit a { display: inline-block; border: 1px solid #8dcfcb; line-height:28px; border-radius:3px; overflow:hidden; margin-right:10px; }
.title_edit a span { display: inline-block; width: 28px; height: 28px; background: #8dcfcb url('../img/icon34.png') no-repeat center center; vertical-align:top; }
.title_edit a em { display:inline-block; font-style:normal; font-size:16px; color:#999; width:11px; width:120px; text-align:center; }
.mechanism { background: #fff; border: 1px solid #e2e6e8; padding:47px 67px; margin-top:25px; }
.mechanism .img { float: left; width: 237px; height: 237px; border-radius: 237px; overflow: hidden; background: #f4f6f9; margin-right:45px; }
.mechanism .img img { display:block; width:237px; height: 237px; }
.mechanism .web { overflow:hidden; }
.mechanism .web .list { margin-top:40px; }
.mechanism .web .list:first-child { margin-top:30px; }
.mechanism .web .list p { line-height: 36px; font-size: 16px; }
.mechanism .web .list p img { vertical-align:top; }
.mechanism .web .list p span { font-size: 14px; color: #b7c9dc; display:inline-block; vertical-align:bottom; margin-left:10px; }
.mechanism .web .list p input { height: 34px; line-height: 34px; border: 1px solid #b5c8db; border-radius:3px; padding-left:12px; width:419px; }
.mechanism_btn { text-align:center; margin-top:37px; }
.mechanism_btn a { display: inline-block; text-align: center; width: 134px; height: 40px; line-height: 40px; border: 1px solid #f16d31; background: #f16d31; border-radius: 3px; font-size: 18px; color: #fff; margin-left: 15px; }
.mechanism_btn a:hover{ background:#cc6600;border-color:#d57a21}
.mechanism_btn a.a1 { background: #fff; border: 1px solid #dcdcdc; color: #666; }
.mechanism_btn a.a1:hover{ background:#efefef}
.student_status { margin-top: 40px; }
.student_status span { display:inline-block; width:200px; height:44px; line-height:44px; text-align:center; font-size:18px; color:#fff; border-radius:3px; margin-right:20px; vertical-align:top; }
.student_status span.span1 { background: #02b6ba; border: 1px solid #02a4a8; }
.student_status span.span2 { background: #33b0ff; border: 1px solid #33b0ff; }
.student_status span.span3 { background: #ecb66d; border: 1px solid #d8a764; }

.test_paper { background:#fff; border-radius:3px; box-shadow:0 0 8px rgba(25,44,64,0.15); margin-top:29px; margin-bottom:115px; }
.test_paper .tit { background:url('../img/bg2.jpg') no-repeat center center; padding:50px 0 50px 54px; }
.test_paper .tit h3 { font-weight: normal; font-size: 42px; }
.test_paper .tit p { font-size: 24px; color: #ae7933; margin-top:30px; }
.test_paper .tit p span { margin-right:65px; }
.test_paper .tit h4 { font-weight:normal; font-size:24px; color:#666; margin-top:23px; }
.test_paper .tit h4 span { margin-right:65px; }
.test_paper .tit.tit1 { background:url('../img/bg3.jpg') no-repeat center center; }
.subject { padding: 3px 34px 90px; }
.subject .item { margin-top:40px; }
.subject .item h3 { font-size:24px; font-weight:normal; }
.subject .item h3 span { color:#999; }
.subject .item .list { padding: 32px 0 40px; border-bottom: 1px solid #e3eaf0; }
.subject .item .list:last-child { border-bottom:none; }
.subject .item .list .text { }
.subject .item .list .text p { padding-left:50px; position:relative; font-size:24px; line-height:40px; }
.subject .item .list .text p font { font-size: 26px; font-family: Arial; color: #66cccc; position:absolute; top:0; left:20px; }
.subject .item .list .lab_rad { }
.subject .item .list .lab_rad ul li { line-height:20px; margin-top:30px; padding-left:50px; }
.subject .item .list .lab_rad ul li label { display: inline-block; padding-left: 35px; font-size: 20px; color:#999; background:url('../img/icon39.png') no-repeat left center; }
.subject .item .list .lab_rad ul li.on label { color: #f09a12; background: url('../img/icon39-1.png') no-repeat left center; }
.subject .item .list .answer { background: #f4f4f4; margin-top:40px; padding:30px 33px; border-radius:3px; }
.subject .item .list .answer p { padding-left:103px; position:relative; font-size:18px; line-height:28px; color:#333; margin-top:10px; }
.subject .item .list .answer p:first-child { margin-top:0; }
.subject .item .list .answer p span { display: block; position: absolute; top: 0; left: 0; color: #999; font-size: 20px; }
.subject .item .list .answer p label { display: inline-block; width: 24px; line-height: 24px; height: 24px; border-radius: 24px; text-align: center; color: #fff; background: #66cccc; margin-right:5px; }
.subject .item .list .lab_chk { }
.subject .item .list .lab_chk ul li { line-height: 20px; margin-top: 30px; padding-left: 50px; }
.subject .item .list .lab_chk ul li label { display: inline-block; padding-left: 35px; font-size: 20px; color: #999; background: url('../img/icon40.png') no-repeat left center; }
.subject .item .list .lab_chk ul li.on label { color: #f09a12; background: url('../img/icon40-1.png') no-repeat left center; }
.subject .end { text-align:center; margin-top:50px; }
.subject .end p { font-size:18px; font-family:Arial; color:#999; background:url('../img/icon41.jpg') repeat-x left center; text-align:center; }
.subject .end p span { display:inline-block; padding:0 20px; background:#fff; }
.subject.subject_stu { }
.subject.subject_stu .item .list .lab_rad ul li.on label { color: #66cccc; background: url('../img/icon39-2.png') no-repeat left center; }
.subject .item .list .lab_rad ul li.in label { color: #e74c3c; background: url('../img/icon39-3.png') no-repeat left center; }
.subject .item .list .answer p span.span1 { color: #66cccc; }
.subject .item .list .answer p span.span2 { color: #e74c3c; }
.subject .item .list .answer p label.lb1 { background: #e74c3c; }
.subject .item .list .answer p em { font-style: normal; color: #999; font-size: 20px; margin-left: 25px; }
.subject.subject_stu .item .list .lab_chk ul li.on label { color: #66cccc; background: url('../img/icon40-2.png') no-repeat left center; }
.subject .item .list .lab_chk ul li.in label { color: #e74c3c; background: url('../img/icon40-3.png') no-repeat left center; }
.subject .item .list .left { float:left; width:870px; }
.subject .item .list .right { float:right; width:242px; }
.subject .item .list .right img { display:block; }


.modal_ycxs .modal_cont { width: 380px; }
.modal_szfdls .modal_cont { width:570px; }
.mod_tjjs ul li .web.web_sel { padding:0; }
.mod_tjjs ul li .web select { width: 100%; height: 44px; line-height: 44px; border: none; color:#666; }

.jxjh_list_web { max-height: 150px; overflow-y: auto; }


/*----------footer----------*/
.footer { position: absolute; bottom: 35px; left: 0; width: 100%; }
.footer p { font-size:16px; color:#fff; text-align:center; }

.pagesize { text-align: center; padding: 30px 0; line-height:24px; }
.pagesize a{ margin:0 12px; font-size:18px; color:#999; vertical-align:top; }
.pagesize a:hover, .pagesize a.on { color: #d6ae7b; text-decoration:underline; }
.pagesize a.prev, .pagesize a.next { display:inline-block; width:24px; height:24px; }
.pagesize a.prev { background:url('../img/icon37.png') no-repeat center center; }
.pagesize a.next { background: url('../img/icon38.png') no-repeat center center; }
.pagesize a.prev:hover { background: url('../img/icon37-1.png') no-repeat center center; text-decoration:none; }
.pagesize a.next:hover { background: url('../img/icon38-1.png') no-repeat center center; text-decoration: none; }

.kc_btn { position: absolute; top: 35px; right: -25px; }
.kc_btn ul li { border-bottom: none; padding: 0 25px; text-align: center; float: left; border-left: 1px solid #ececec; }
.kc_btn ul li:first-child { border-left: none; }
.kc_btn ul li span { display: block; width: 60px; height: 60px; margin: 0 auto; }
.kc_btn ul li span.span1 { background: url('../img/icon9.png') no-repeat center center; }
.kc_btn ul li span.span2 { background: url('../img/icon10.png') no-repeat center center; }
.kc_btn ul li span.span3 { background: url('../img/icon21.png') no-repeat center center; }
.kc_btn ul li span.span4 { background: url('../img/icon22.png') no-repeat center center; }
.kc_btn ul li span.span5 { background: url('../img/icon23.png') no-repeat center center; }
.kc_btn ul li span.span6 { background: url('../img/icon27.png') no-repeat center center; }
.kc_btn ul li span.span7 { background: url('../img/icon30.png') no-repeat center center; }
.kc_btn ul li span.span8 { background: url('../img/icon28.png') no-repeat center center; }
.kc_btn ul li p { font-size: 14px; color: #677b90; margin-top: 7px; text-align:center; }
.kc_btn ul li a:hover p { color: #d57a21; }
.kc_btn ul li a:hover span.span1 { background: url('../img/icon9-1.png') no-repeat center center; }
.kc_btn ul li a:hover span.span2 { background: url('../img/icon10-1.png') no-repeat center center; }
.kc_btn ul li a:hover span.span3 { background: url('../img/icon21-1.png') no-repeat center center; }
.kc_btn ul li a:hover span.span4 { background: url('../img/icon22-1.png') no-repeat center center; }
.kc_btn ul li a:hover span.span5 { background: url('../img/icon23-1.png') no-repeat center center; }
.kc_btn ul li a:hover span.span6 { background: url('../img/icon27-1.png') no-repeat center center; }
.kc_btn ul li a:hover span.span7 { background: url('../img/icon30-1.png') no-repeat center center; }
.kc_btn ul li a:hover span.span8 { background: url('../img/icon28-1.png') no-repeat center center; }
/*----------custom----------*/

.modal, .fp_modal { position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 1000 }
.fp_modal { display: table; }
.modal { transition: all 0s; -o-transition: all 0s; -webkit-transition: all 0s; -moz-transition: all 0s; -ms-transition: all 0s; background: rgba(0,0,0,0.6); }
.cell { display: table-cell; vertical-align: middle; }
.modal_cont { width: 857px; margin: 0 auto; background: #fff; position: relative; box-shadow:0 0 18px rgba(250,119,37,0.5); border-radius:5px; }
.modal_cont .close { position: absolute; top: 0; right: -69px; width: 57px; height: 57px; background: url('../img/close.png') no-repeat center center; cursor: pointer; }
.modal_tit { height: 52px; line-height: 52px; padding: 0 28px 0 20px; background: #e9cca1; border-top-left-radius:5px; border-top-right-radius:5px; }
.modal_tit h3 { font-weight:normal; font-size:22px; color:#fff; }
.modal_tit h3 img { vertical-align:top; margin-top:10px; margin-right:12px; }
.modal_tit h3 span { float: right; font-size: 18px; color: #333; }
.modal_tit h3 span font { font-size: 30px; color: #9b523c; }

.mod_khbz { padding:0 93px; }
.mod_khbz ul li { padding:50px 0 60px; }
.mod_khbz ul li span { display: block; float: left; width: 95px; color: #c2b6a6; font-size: 18px; border-left: 2px solid #f97c26; padding-left:9px; margin-top:9px; }
.mod_khbz ul li .web { overflow:hidden; }
.mod_khbz ul li .web p { line-height:36px; font-size:16px; color:#999; }
.mod_khbz ul li .web p font { font-size: 34px; color: #fb531c; margin:0 20px; vertical-align:middle; }
.mod_khbz ul li .web p em { font-style: normal; display: inline-block; padding: 0 13px; background: #f9f9f9; font-size: 14px; color: #666; margin-left:19px; position:relative; }
.mod_khbz ul li .web p em:before { content: ''; display: block; width: 8px; height: 18px; background: url('../img/icon33.png') no-repeat right center; position: absolute; top: 50%; margin-top: -9px; left: -8px; }
.mod_khbz ul li .web h4 { font-size: 14px; color: #cac0b2; font-weight: normal; margin-top: 20px; }
.mod_dcxx { padding:50px 90px 35px; }
.mod_dcxx .tit { }
.mod_dcxx .tit p {font-size:18px; color:#999; line-height: 36px; }
.mod_dcxx .tit p span { color:#000; }
.mod_dcxx .tab { margin-top:60px; }
.mod_dcxx .tab .list { margin-top:30px; }
.mod_dcxx .tab .list span { font-size: 18px; color: #c2b6a6; display:block; margin-bottom:12px; }
.mod_dcxx .tab .list input { padding-left: 15px; width: 660px; border: 1px solid #b5c8db; height:44px; line-height:44px; border-radius:3px; }
.mod_dcxx .tab .list textarea { border: 1px solid #b5c8db; border-radius:3px; height:220px; resize:none; padding:10px 15px; width:645px; }
.mod_btn { text-align:center; margin-top:30px; }
.mod_btn a { display: inline-block; width: 134px; height: 40px; line-height: 40px; border: 1px solid #dcdcdc; font-size:18px; color:#666; border-radius:3px; vertical-align:top; margin:0 8px; }
.mod_btn a.a1 { background: #f16d31; border-color: #f16d31; color:#fff; }

.modal_bjcj .modal_cont { width:725px; }
.mod_cjgl { padding: 40px 50px 30px; }
.mod_tip { line-height: 36px; border-radius: 3px; background: #efefef; padding:0 13px; }
.mod_tip p { color: #f16d31; }
.mod_cjgl .tab { margin-top:45px; }
.mod_cjgl .tab h4 { text-align:center; font-weight:normal; font-size:24px; padding:0 30px; }
.mod_cjgl .tab h4 span:nth-child(2) { margin-left: 25px; }
.mod_cjgl .tab h4 span.frt{ margin-right: 20px; }
.mod_cjgl .tab .cjgl_web { text-align: center; line-height: 46px; font-size: 52px; color: #fb5724; margin-top:20px; }
.mod_cjgl .tab .cjgl_web span:first-child { display: inline-block; width: 165px; text-align: center; }
.mod_cjgl .tab .cjgl_web span.frt{ display: inline-block; width: 195px; text-align: center; }
.mod_cjgl .tab .cjgl_web em { font-style:normal; font-size:24px; color:#666; }
.mod_cjgl .tab .cjgl_web input { width: 132px; height: 44px; line-height: 44px; border: 1px solid #b5c8db; border-radius: 3px; text-align: center; font-size: 24px; vertical-align: top; color: #fb5724; }

.nodata{ font-size: 30px; }
.cj_tips { display:inline-block; width:16px; height:16px; background:url(../img/icon54.png) no-repeat center center; vertical-align:middle; margin-bottom:3px; position:relative; }
.cj_tips .drop { width: 335px; padding-top:8px; position:absolute; top:100%; right:-35px; z-index:999; display:none; }
.cj_tips .drop .box { border: 1px solid #e5e5e5; border-radius:3px; padding:10px 20px 15px; background:#fff; text-align:left; line-height:24px; position:relative; }
.cj_tips .drop .box:after { display:block; content:''; width:15px; height:8px; background:url(../img/icon55.png) no-repeat center center; position:absolute; top:-8px; right:35px; }
.cj_tips .drop h3 { font-weight: normal; font-size: 14px; color: #1e79d4; font-style: oblique; margin-top: 20px; }
.cj_tips .drop h3:first-child { margin-top:0; }
.cj_tips .drop h3 span { color: #333; }
.cj_tips .drop h4 { font-size:12px; color:#666; }
.cj_tips .drop p { font-size:12px; color:#666; }
.cj_tips:hover .drop { display:block; }

.modal_tjjs .modal_cont { width:570px; }
.mod_tjjs { padding:45px 55px; }
.mod_tjjs ul li { margin-top:27px; }
.mod_tjjs ul li:first-child { margin-top:0; }
.mod_tjjs ul li span { font-size: 18px; color: #c2b6a6; display: block; float: left; width:110px; text-align: right; line-height: 46px; margin-right: 10px; }
.mod_tjjs ul li span i { font-style: normal; color: #bd4832; }
.mod_tjjs ul li .web { overflow: hidden; border: 1px solid #b5c8db; padding:0 15px; height:44px; line-height:44px; border-radius:3px; }
.mod_tjjs ul li .web input { height:44px; line-height:44px; border:none; width:100%; }

.modal_scjs .modal_cont { width:380px; }
.mod_scjs { padding:40px 0; }
.mod_scjs .web { line-height:60px; }
.mod_scjs .web p { font-size:24px; color:#666; text-align:center; }

.modal_kkgl .modal_cont { width:980px; }
.mod_kkgl { padding: 30px 95px; }
.semester {  }
.semester p { font-size:20px; line-height:46px; text-align: right; }
.semester p em { font-style:normal; padding-left:16px; border-left:1px solid #eee; }
.semester p em a { display: inline-block; width: 92px; height: 44px; line-height: 44px; border: 1px solid #8dcfcb; border-radius: 46px; font-size: 18px; color: #8dcfcb; text-align:center; }
.semester p em a:hover { background: #8dcfcb; color:#fff; }

.det_veido{ width: 100%; }

.semester .drop { border: 1px solid #8dcfcb; border-radius:3px; position:absolute; top:62px; left:60px; right:0; background:#fff; z-index:9; box-shadow:0 8px 16px rgba(141,207,203,0.2); }
.semester .drop .box { padding:36px 80px 45px; position:relative; }
.drop_close { width:16px; height:16px; background:url('../img/close1.png') no-repeat center center;  position:absolute; top:8px; right:8px; cursor:pointer; }
.semester .drop .box .semester_add { }
.semester .drop .box .semester_add input { height: 33px; line-height: 33px; border: 1px solid #e5e5e5; border-radius:3px; padding-left:12px; width:454px; font-size:18px; }
.semester .drop .box .semester_add a { display: inline-block; float: right; width: 80px; height: 35px; line-height: 35px; text-align: center; border-radius: 3px; background: #f16d31; color:#fff; }
.semester_tab { margin-top:30px; }
.semester_tab h4 { font-weight:normal; font-size:18px; color:#666; margin-bottom:15px; }
.semester_tab table { width: 100%; border: 1px solid #e5e5e5; border-radius:3px; }
.semester_tab table th { line-height: 41px; background: #8dcfcb; color:#fff; font-weight:normal; }
.semester_tab table th:first-child, .semester_tab table td:first-child { text-align: left; padding-left: 35px; }
.semester_tab table td { height: 38px; vertical-align: middle; border-bottom: 1px solid #e5e5e5; text-align:center; font-size:14px; color:#999; }
.semester_tab table td a { color: #7398be; }
.semester_tab table td a:hover { text-decoration:underline; color:#d57a21; }
.semester_tab table tr:hover { background: #f4f4f4; }

.mod_kkg_top{ position: relative; }
.mod_kkg_top .course_sel{ float: left; width:auto; }
.mod_kkg_top .course_sel span{ width: 403px; }
.mod_kkg_top .semester{ float: right; }
.mod_kkg_top .course_sel .course_sel_name{ float: left; }
.mod_kkg_top .course_sel>span{ float: left; height: 44px; }


.page_kcjd_r .crumbs p select { width: 180px; height: 36px; line-height: 36px; font-size: 18px; color: #7398BE; border: 1px solid #B5C8DB; }

.mod_drsb{ padding: 20px; }
.drsb_tab{ max-height: 461px; overflow-y: auto; }
.drsb_tab table{ width: 100%; border: 1px solid #e3eaf0; }
.drsb_tab table th{ font-size: 16px; color: #7eb9b5; font-weight: normal; text-align: left; height: 45px; }
.drsb_tab table td{ height: 45px; border-top: 1px solid #e3eaf0; vertical-align: middle; font-size: 16px; color: #666; }
.drsb_tab table th:first-child{ padding-left: 20px; }
.drsb_tab table td:first-child{ padding-left: 20px; }
.drsb_tab table tr:nth-child(2n+1) td{ background: #f9fafb; }
.drsb_tab table td span{ color: #e74c3c; }

::-ms-clear, ::-ms-reveal{display: none;}

.data_default{ padding: 80px 0; }
.data_default.data_default1{ padding: 30px 0; }
.data_default img{ display: block; margin: 0 auto; }


.open_course { margin-top: 50px; }
.open_course h3 { font-size: 18px; font-weight: normal; color: #c2b6a6; }
.open_course .list { }
.open_course .list ul { margin:0 -1.5%; }
.open_course .list ul li { float:left; width:22%; margin:0 1.5%; border-radius:3px; overflow:hidden; cursor:pointer; box-shadow:0 2px 6px rgba(204,204,204,0.56); margin-top:28px; }
.open_course .list ul li .img { width:178px; height:100px; overflow:hidden; position:relative; }
.open_course .list ul li .img img { display:block; width:100%; }
.open_course .list ul li .img label { display:block; position:absolute; top:0; right:0; width:28px; height:28px; background:rgba(0,0,0,0.6) url('../img/icon19-2.png') no-repeat center center; }
.open_course .list ul li .web { padding:0 10px; }
.open_course .list ul li .web h4 { font-weight: normal; line-height: 24px; height: 48px; overflow: hidden; padding: 9px 0; border-bottom: 1px dashed #e3eaf0; }
.open_course .list ul li .web p { line-height:42px; font-size:14px; color:#999; }
.open_course .list ul li.on .img label { background: rgba(0,0,0,0.6) url('../img/icon19-1.png') no-repeat center center; }

.mod_jxjh { width: 324px; margin-left: 222px;; padding: 20px 0; }
.mod_jxjh .tit { background: url('../img/icon50.png') no-repeat center center; padding: 0 10px; width: 305px; height: 75px; line-height: 60px; font-size: 20px; text-align: center; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.mod_jxjh .jxjh_list { padding-top: 1px; position: relative; }
.mod_jxjh .line { position: absolute; top: 0; left: 164px;; width: 1px; bottom: 0; background: #93e4fd; }
.mod_jxjh .span_txt { display: block; text-align: center; margin-top: 10px; background: #fff; line-height: 20px; position: relative; color: #92c9db }
.mod_jxjh li { margin-top: 30px; position: relative; }
.jxjh_list h3 { margin: 0 auto; width: 121px; line-height: 39px; border: 1px solid #dab584; color: #b1701f; background: #f1ece5; text-align: center; border-radius: 20px; font-size: 18px; font-weight: normal; cursor: pointer; }
.jxjh_list li:hover h3 { background: #fff; border-color: #dcdcdc; color: #92c9db }
.jxjh_list li:nth-child(2n) h3{ background: #fff; border-color: #dcdcdc; color: #92c9db  }
.jxjh_list li:hover label.lbl1:after { background: #92c9db }
.jxjh_list .box p { font-size: 14px; color: #bcbfcf; margin-top: 10px; text-align: center; line-height: 18px; }
.jxjh_list .box { width: 145px; position: relative; }
.jxjh_list label.lbl1 { position: absolute; top: 5px; left: 148px;; padding: 5px; border: 1px solid #dcdcdc; background: #fff; border-radius: 20px; z-index: 5 }
.jxjh_list li:nth-child(2n) label.lbl1:after{ background: #92c9db }
.jxjh_list .on label.lbl1 { top: 0; bottom: 0px; }
.jxjh_list .on label.lbl1:after { height: 100%; background: #92c9db }
.jxjh_list label.lbl1:after { width: 21px; height: 21px; content: ''; display: block; background: #dacebe; border-radius: 20px; }
.jxjh_list .list { margin-left: 232px; width: 310px; position: relative; }
.jxjh_list .text { padding: 10px 15px; line-height: 30px; font-size: 14px; color: #000; border: 1px solid #b5c8db; border-radius: 5px; position: relative; }
.jxjh_list .text p { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.jxjh_list .text span { color: #999 }
.jxjh_list .text .lbl_jt { display: block; position: absolute; width: 13px; height: 21px; background: url('../img/icon50-1.png') no-repeat center center; position: absolute; left: -10px; top: 50%; margin-top: -10px; z-index: 4; }
.jxjh_list .text .lbl_line { display: block; position: absolute; width: 46px; height: 1px; border-bottom: 1px dashed #ccc; position: absolute; left: -55px; top: 50%; margin-top: -1px; z-index: 3; }

.send_notice { }
.send_notice .sel { position:relative; }
.send_notice .sel h4 { font-size: 14px; color: #666; line-height: 30px; font-weight:normal; }
.send_notice .sel h4 span { display: inline-block; height: 28px; line-height: 28px; border: 1px solid #8dcfcb; color: #8dcfcb; text-align:center; border-radius:28px; width:88px; cursor:pointer; }
.send_notice .sel h4 span em { font-style:normal; display:inline-block; padding-left:18px; background:url('../img/icon51.png') no-repeat left center; }
.send_notice .sel .drop { position: absolute; top: 39px; left: 0; width: 100%; background:#fff; z-index:9; padding-bottom:6px; box-shadow:0 0 5px rgba(0,0,0,0.1); }
.send_notice .sel .drop .box { border: 1px solid #8dcfcb; border-radius: 3px; overflow: hidden; }
.send_notice .sel .drop .sel_course { float: left; width: 269px; }
.send_notice .sel .drop .sel_course h4 { line-height:59px; font-size:16px; color:#fff; padding-left:20px; background:#8dcfcb; }
.send_notice .sel .drop .sel_course .list { height: 180px; overflow-y: auto; }
.send_notice .sel .drop .sel_course .list ul li { line-height:36px; padding-left:20px; font-size:14px; color:#666; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.send_notice .sel .drop .sel_course .list ul li:nth-child(2n+2) { background: #f7fbfc; }
.send_notice .sel .drop .sel_course .list ul li:hover, .send_notice .sel .drop .sel_course .list ul li.on { background: #e7f0f7; color:#333; }
.send_notice .sel .drop .sel_class { overflow:hidden; border-left:1px solid #eee; padding:20px 10px 4px 15px; }
.send_notice .sel .drop .sel_class .top { position:relative; }
.send_notice .sel .drop .sel_class .top .search { width:196px; height:23px; line-height:23px; border:1px solid #8dcfcb; border-radius:8px; padding-left:11px; overflow:hidden; position:relative; }
.send_notice .sel .drop .sel_class .top .search input { border:none; height:23px; line-height:23px; width:100%; }
.send_notice .sel .drop .sel_class .top .search a { display:block; width:30px; height:23px; position:absolute; top:0; right:0; background:url('../img/icon53.png') no-repeat center center; }
.send_notice .sel .drop .sel_class .top .sel_all { position: absolute; top:4px; right:30px; padding-left: 22px; border-left: 1px solid #e5e5e5; }
.send_notice .sel .drop .sel_class .top .sel_all label { font-size:16px; display:inline-block; padding-right:37px; background:url('../img/icon19.png') no-repeat right center; }
.send_notice .sel .drop .sel_class .top .sel_all label.on{ background:url('../img/icon19-1.png') no-repeat right center; }
.send_notice .sel .drop .sel_class .list { padding-right:5px; margin-top:10px; height:180px; overflow-y:auto; }
.send_notice .sel .drop .sel_class .list ul li { line-height:30px; font-size:12px; }
.send_notice .sel .drop .sel_class .list ul li label { display:block; padding:0 5px; background:url('../img/icon19.png') no-repeat 98% center; color:#999; }
.send_notice .sel .drop .sel_class .list ul li:nth-child(2n+2) { background: #f7fbfc; }
.send_notice .sel .drop .sel_class .list ul li:hover { background: #e7f0f7; }
.send_notice .sel .drop .sel_class .list ul li.on label { background:url('../img/icon19-1.png') no-repeat 98% center; }
.sel_btn { margin-top:6px; text-align:right; }
.sel_btn a { display: inline-block; width: 48px; height: 28px; line-height: 28px; border: 1px solid #c4cbd3; border-radius:3px; text-align:center; font-size:14px; color:#999; margin-left:6px; }
.sel_btn a.a1 { background: #8dcfcb; border-color: #8dcfcb; color:#fff; }
.sel_btn a.a1:hover { background: #05bfb4; border-color: #05bfb4; }






.send_notice .sel_yx { margin-top: 35px; }
.send_notice .sel_yx h4 { font-size:14px; color:#333; background:url('../img/icon49.png') repeat-x left center; text-align:center; font-weight:normal; }
.send_notice .sel_yx h4 span { display:inline-block; padding:0 10px; background:#fff; }
.send_notice .sel_yx .list { }
.send_notice .sel_yx .list ul li { float: left; width: 117px; height: 26px; line-height:26px; border: 1px solid #dab484; color: #dab484; font-size:12px; padding-left:8px; margin-right:8px; margin-top:9px; position:relative; }
.send_notice .sel_yx .list ul li i { content: ''; display: block; width: 20px; height: 26px; background: url('../img/icon52.png') no-repeat center center; position: absolute; top: 0; right: 0; cursor: pointer; }
.send_notice .sel_yx .list ul li:hover { background: #dab484; color: #fff; }
.send_notice .sel_yx .list ul li:hover i { background:url('../img/icon52-1.png') no-repeat center center; }
